<!-- Formulario de inicio de sesión -->
<section class="bg-gray-100 text-gray-800 antialiased px-4 py-4 flex flex-col justify-center sm:py-8 sm:left-0">
  <article class="relative py-3 sm:w-96 mx-auto text-center">
    
    <!-- Logo que acompaña al form-legend -->
    <%= image_tag 'logo_3.png', class: "mx-auto h-16 w-auto inline" %>
    <!-- Form-legend -->
    <span class="text-2xl font-bold"><%= t('.form_legend') %></span>

    <!-- Caja de inputs -->
    <div class="mt-4 bg-white shadow-md rounded-lg text-left">
      <!-- Linea separadora -->
      <div class="h-2 bg-orange-700 rounded-md"></div>
      
      <!-- Caja de inputs-2 -->
      <div class="px-8 py-6">
        
        <!-- Formulario -->
        <%= form_with(url: sessions_path) do |form| %>

          <!-- Input de DNI-Email -->
          <%= form.label :login, t(".login"), class: "block font-semibold" %>
          <%= form.text_field :login,
             required: true,
             placeholder: t('.placeholder_login'),
             class: "border w-full h-5 px-3 py-5 mt-2 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>

          <!-- Input de Password -->
          <%= form.label :password, t(".password"), class: "block font-semibold mt-3" %>
          <%= form.password_field :password,
             required: true,
             placeholder: t('.placeholder_password'),
             class: "border w-full h-5 px-3 py-5 mt-2 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>

          <!-- Caja de inputs-3 -->
          <div class="flex flex-wrap gap-2 justify-between items-baseline">

            <!-- Boton de submit -->
            <%= button_tag(type: "submit", 
            class: "mt-4 text-orange-100 font-bold bg-orange-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900") do %>
              <%= content_tag(:strong, t('.submit')) %>
            <% end %>

            <!-- Boton de recuperar password -->
            <a href="#" class="text-sm hover:underline">
              <%# t(".forgot_password") %>
            </a>

          </div>

        <% end %>
      </div>
    </div>
  </article>
</section>