<!-- Título detalles de usuario -->
<section class="mx-4 mb-2 p-4 bg-gray-800 text-gray-200 rounded-b-lg border-2 border-black">
  <h4 class="text-2xl uppercase text-center">
    <%= t('.title') %>
  </h4>
</section>

<!-- Detalles de usuario -->
<section class="flex flex-col p-2 pt-4 md:px-4 md:pt-4 mx-4">
  <article class="bg-gray-700 text-gray-200 flex rounded-lg shadow-xl overflow-hidden mb-8 bg-gradient-to-r from-orange-800 to-orange-400 md:flex-nowrap flex-wrap border-2 border-black">
    <%= link_to rails_blob_url(@user.driver_license), target: :blank, class: "contents" do %>
      <%= image_tag @user.driver_license, alt: "driver license", class: "relative w-full md:max-w-xs md:max-h-full max-h-48 object-cover border-1 border-black" %>
    <% end %>
    <div class="flex flex-col w-full justify-center">
      <ul class="flex flex-col gap-2 px-2 my-2">
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.name') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.name.upcase %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.surname') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.surname.upcase %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.phone') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.phone.upcase %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.dni') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.dni %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.email') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.email.upcase %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.birthdate') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.birthdate %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.driver_license_expiration') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @user.driver_license_expiration %></dd>
        </li>
        <li>
          <div class="flex m-2">
            <%= link_to t('.edit_profile'), edit_user_path(Current.user.id), class: "mx-1 text-orange-100 font-bold bg-blue-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900" if Current.user&.role? == "client"%>
            <%= link_to t('.change_password'), edit_password_user_path(Current.user.id), class: "mx-1 text-orange-100 font-bold bg-yellow-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900" if Current.user&.role? == "client"%>
            <%= link_to t('.change_license'), edit_license_user_path(Current.user.id), class: "mx-1 text-orange-100 font-bold bg-purple-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900" if Current.user&.role? == "client" && !Current.user.pending_license_modification%>
          </div>
        </li>
      </ul>
    </div>

  </article>
</section>