<!-- Registro de super usuarios -->
<section class="md:grid md:grid-cols-2 md:gap-6">
  <article class="mt-1 md:col-span-2 md:mt-1">
    <%= form_with(model: super_user) do |form| %>
      <div class="overflow-hidden shadow sm:rounded-md">
        <div class="bg-white px-4 sm:mt-4">
          <div class="grid grid-cols-6 gap-4">

            <%# Input para nombre %>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :name, class: "block font-semibold" %>
              <%= form.text_field :name, 
                placeholder: t('.placeholder_name'),
                class: "border w-full h-5 px-3 py-5 mt-1 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>
              <% if super_user.errors.full_messages_for(:name).each  do |error| %>
                  <ul class="list-disc list-inside">
                    <li class="text-xs text-red-500">
                      <%= error %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
              </div>

            <%# Input para apellido %>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :surname, class: "block font-semibold" %>
              <%= form.text_field :surname, 
                placeholder: t('.placeholder_surname'),
                class: "border w-full h-5 px-3 py-5 mt-1 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>
              <% if super_user.errors.full_messages_for(:surname).each  do |error| %>
                  <ul class="list-disc list-inside">
                    <li class="text-xs text-red-500">
                      <%= error %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>

            <%# Input para phone %>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :phone, class: "block font-semibold" %>
              <%= form.text_field :phone, 
                placeholder: t('.placeholder_phone'),
                class: "border w-full h-5 px-3 py-5 mt-1 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>
              <% if super_user.errors.full_messages_for(:phone).each  do |error| %>
                  <ul class="list-disc list-inside">
                    <li class="text-xs text-red-500">
                      <%= error %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>

            <%# Input para dni %>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :dni, class: "block font-semibold" %>
              <%= form.text_field :dni, 
                placeholder: t('.placeholder_dni'),
                class: "border w-full h-5 px-3 py-5 mt-1 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>
              <% if super_user.errors.full_messages_for(:dni).each  do |error| %>
                  <ul class="list-disc list-inside">
                    <li class="text-xs text-red-500">
                      <%= error %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>

            <%# Input para email %>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :email, class: "block font-semibold" %>
              <%= form.email_field :email, 
                placeholder: t('.placeholder_email'),
                class: "border w-full h-5 px-3 py-5 mt-1 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>
              <% if super_user.errors.full_messages_for(:email).each  do |error| %>
                  <ul class="list-disc list-inside">
                    <li class="text-xs text-red-500">
                      <%= error %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>

            <%# Input para password %>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :password, class: "block font-semibold" %>
              <%= form.password_field :password, 
                placeholder: t('.placeholder_password'),
                class: "border w-full h-5 px-3 py-5 mt-1 focus:z-10 focus:border-orange-700 focus:outline-none focus:ring-orange-700 rounded-md" %>
              <% if super_user.errors.full_messages_for(:password).each  do |error| %>
                  <ul class="list-disc list-inside">
                      <li class="text-xs text-red-500">
                        <%= error %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
        <div class="flex justify-center bg-gray-50 text-right sm:px-6 mt-4">
          <%# Botón de submit %>
          <%= button_tag(type: "submit", 
            class: "mt-2 sm:mt-0 mb-1 text-orange-100 font-bold bg-orange-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900") do %>
            <%= content_tag(:strong, t('.submit')) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </article>
</section>
