<section class="m-8">
  <%# Se puede agregar algun elemento por aqui %>
  <article class="overflow-auto rounded-lg shadow hidden md:block select-none">
    <table class="w-full">
      <thead class="text-xs uppercase bg-gray-800 text-gray-200">
        <tr class="border-2 border-black">
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.state') %></th>
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.name') %></th>
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.surname') %></th>
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.dni') %></th>
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.email') %></th>
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.phone') %></th>
          <th class="w-20 p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">  
        <% if super_users.count > 0 %>
          <%# En caso de haber usuarios %>
          <% super_users.each do |super_user| %>
            <tr class="<%= class_names('hover:bg-gray-400', {'bg-red-200': super_user.is_blocked}) %>">
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase">
                <span class="<%= class_names('p-1.5 text-xs font-medium uppercase tracking-wider text-gray-200 rounded-lg bg-green-400 border-2 border-black', {'bg-red-500': super_user.is_blocked}) %>"><%= super_user.is_blocked ? t('.blocked') : t('.non_blocked') %></span>
              </td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"><%= super_user.name %></td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"><%= super_user.surname %></td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"><%= super_user.dni %></td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"><%= super_user.email %></td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"><%= super_user.phone %></td>
              <td class="p-3 text-gray-700 whitespace-nowrap uppercase">
                <%= link_to t('.view_details'), super_user_path(super_user), class: "p-1.5 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm dark:focus:ring-yellow-900 border border-black" %>
                <%= link_to t('.edit'), edit_super_user_path(super_user), class: "p-1.5 focus:outline-none text-white bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:focus:ring-blue-900 border border-black" if Current.user&.role? == "admin" %>
                <%= button_to t('.block'), block_supervisor_path(super_user.id), method: :patch, form_class: "contents", class: "inline p-1 focus:outline-none text-white bg-violet-400 hover:bg-violet-500 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm dark:focus:ring-violet-900 border border-black uppercase" if Current.user&.role? == "admin" %>
                <%= link_to t('.delete'), delete_supervisor_path(super_user.id), data: {
                turbo_method: :delete,
                turbo_confirm: t('common.confirm')
                }, class: "p-1.5 focus:outline-none text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm dark:focus:ring-red-900 border border-black" if Current.user&.role? == "admin" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <%# En caso de no haber usuarios %>
          <tr>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"> <%= t('.no_records_available') %> </td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </article>
  
  <%# Para la vista mobile %>
  <article class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
    <% if super_users.count > 0 %>
      <%# En caso de haber autos %>
      <% super_users.each do |super_user| %>
        <div class="space-y-3 p-4 rounded-lg shadow border-2 border-black bg-gray-800">
          <div class="flex items-center space-x-2 text-sm flex-wrap gap-2">
              <div>
                <span class="<%= class_names('p-1.5 text-xs font-medium uppercase tracking-wider text-gray-200 rounded-lg bg-green-400 border-2 border-black whitespace-nowrap', {'bg-red-500': super_user.is_blocked}) %>"><%= super_user.is_blocked ? t('.blocked') : t('.non_blocked') %></span>
                </span>
              </div>
          </div>
          <div class="text-sm text-gray-200 flex flex-col">
            <p>
              <span class="text-sm text-gray-200 uppercase font-bold"><%= t('.name') %>:</span>
              <span class="text-sm text-gray-200 uppercase"><%= super_user.name %></span>
            </p>
            <p>
              <span class="text-sm text-gray-200 uppercase font-bold"><%= t('.surname') %>:</span>
              <span class="text-sm text-gray-200 uppercase"><%= super_user.surname %></span>
            </p>
            <p>
              <span class="text-sm text-gray-200 uppercase font-bold"><%= t('.dni') %>:</span>
              <span class="text-sm text-gray-200 uppercase"><%= super_user.dni %></span>
            </p>
            <p>
              <span class="text-sm text-gray-200 uppercase font-bold"><%= t('.email') %>:</span>
              <span class="text-sm text-gray-200 uppercase"><%= super_user.email %></span>
            </p>
            <p>
              <span class="text-sm text-gray-200 uppercase font-bold"><%= t('.phone') %>:</span>
              <span class="text-sm text-gray-200 uppercase"><%= super_user.phone %></span>
            </p>
          </div>
          <div class="flex flex-wrap gap-2 uppercase">
            <%= link_to t('.view_details'), super_user_path(super_user), class: "p-1.5 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm dark:focus:ring-yellow-900 border border-black" %>
            <%= link_to t('.edit'), edit_super_user_path(super_user), class: "p-1.5 focus:outline-none text-white bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:focus:ring-blue-900 border border-black" if Current.user&.role? == "admin" %>
            <%= button_to t('.block'), block_supervisor_path(super_user.id), method: :patch, form_class: "contents", class: "inline p-1 focus:outline-none text-white bg-violet-400 hover:bg-violet-500 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm dark:focus:ring-violet-900 border border-black uppercase" if Current.user&.role? == "admin" %>
            <%= link_to t('.delete'), delete_supervisor_path(super_user.id), data: {
            turbo_method: :delete,
            turbo_confirm: t('common.confirm')
            }, class: "p-1.5 focus:outline-none text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm dark:focus:ring-red-900 border border-black" if Current.user&.role? == "admin" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%# En caso de no haber usuarios %>
      <h4 class="p-3 text-sm text-gray-700 whitespace-nowrap uppercase"> <%= t('.no_records_available') %></h4>
    <% end %>
  </article>
</section>