<h1 class="text-orange-400"><%= link_to t('app_name'), root_path %></h1>
<div>
<%= link_to t('.home'), root_path %>
<%= link_to t('.register'), new_user_path %>
<%= link_to t('.login'), new_session_path %>
<%= link_to t('.ALQUILAR_AUTO'), new_session_path %>
<%= link_to t('.AGREGAR_SUPERVISOR'), new_session_path %>
<%= link_to t('.AGREGAR_AUTO'), new_session_path %>
<%= link_to t('.VER_PREREGISTRADOS'), new_session_path %>
</div>