<!-- Indicador de usuario -->

<% if Current.user %>
  <p class="inline p-2 border-2 border-black text-center text-lime-500 font-bold"><%= Current.user&.role?.upcase + ": " + Current.user&.name&.capitalize%></p>
<% end %>

<!-- Botones del header -->
<%= link_to t('.Viaje Actual'), car_tracking_path(Current.user.rentals.find_by(is_active:true).id), class: "mx-1 text-green-600 font-bold bg-orange-300 py-2 px-2 rounded hover:brightness-110 border border-black focus:border-orange-900 focus:outline-none focus:ring-orange-900" if Current.user&.role? == 'client' && Current.user.rentals.find_by(is_active:true)%>
<%= link_to t('.home'), root_path, class: "mx-1 text-orange-600 font-bold bg-orange-300 py-2 px-2 rounded hover:brightness-110 border border-black focus:border-orange-900 focus:outline-none focus:ring-orange-900" %>
<%= link_to t('.view_cars'), cars_path, class: "mx-1 text-orange-600 font-bold bg-orange-300 py-2 px-2 rounded hover:brightness-110 border border-black focus:border-orange-900 focus:outline-none focus:ring-orange-900" unless Current.user&.role? == "admin" || Current.user&.role? == "supervisor"%>
<%= link_to t('.register'), new_user_path, class: "mx-1 text-orange-600 font-bold bg-orange-300 py-2 px-2 rounded hover:brightness-110 border border-black focus:border-orange-900 focus:outline-none focus:ring-orange-900" unless Current.user %>
<%= link_to t('.login'), new_session_path, class: "mx-1 text-orange-100 font-bold bg-orange-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900" unless Current.user %>
<%= link_to t('.view_wallet'), wallet_path(Current.user.id), class: "mx-1 text-orange-100 font-bold bg-orange-500 py-2 px-2 rounded hover:brightness-110 border-2 border-black focus:z-10 focus:border-orange-900 focus:outline-none focus:ring-orange-900" if Current.user&.role? == 'client' %> 
<%= link_to t('.logout'), session_path(Current.user.id), data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
}, class: "mx-1 text-orange-600 font-bold bg-orange-300 py-2 px-2 rounded hover:brightness-110 border border-black focus:border-orange-900 focus:outline-none focus:ring-orange-900" if Current.user %>
