<h1 class="mx-4 mt-4 text-xl font-bold">Ingrese los datos de su tarjeta</h1>

<div class="mt-4">
  <div class="md:grid md:grid-cols-2 md:gap-6">
    <div class="mt-5 md:col-span-2 md:mt-0">
      <%= form_with(model: @card) do |form| %>
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">


                <%# Input para card_number %>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :card_number, class: "block text-sm font-medium text-gray-700" %>
                <%= form.text_field :card_number, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
                <% if @card.errors.full_messages_for(:card_number).each  do |error| %>
                    <ul class="list-disc list-inside">
                      <li class="text-xs text-red-500">
                        <%= error %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>

              <%# Input para nombre %>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
                <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
                <% if @card.errors.full_messages_for(:name).each  do |error| %>
                    <ul class="list-disc list-inside">
                      <li class="text-xs text-red-500">
                        <%= error %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>

              <%# Input para apellido %>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :surname, class: "block text-sm font-medium text-gray-700" %>
                <%= form.text_field :surname, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
                <% if @card.errors.full_messages_for(:surname).each  do |error| %>
                    <ul class="list-disc list-inside">
                      <li class="text-xs text-red-500">
                        <%= error %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>

              <%# Input para expiration_date %>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :expiration_date, class: "block text-sm font-medium text-gray-700" %>
                <%= form.date_select :expiration_date, { start_year: Time.now.year, end_year: Time.now.year + 30 }, { class: "mt-1 rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" } %>
                <% if @card.errors.full_messages_for(:expiration_date).each  do |error| %>
                    <ul class="list-disc list-inside">
                      <li class="text-xs text-red-500">
                        <%= error %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            
             <%# Input para security_code %>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :security_code, class: "block text-sm font-medium text-gray-700" %>
                <%= form.password_field :security_code, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
                <% if @card.errors.full_messages_for(:security_code).each  do |error| %>
                    <ul class="list-disc list-inside">
                      <li class="text-xs text-red-500">
                        <%= error %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
              
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <%# Botón de submit %>
          <%= button_tag(type: "submit", 
            class: "inline-flex w-full justify-center rounded-md border border-transparent bg-orange-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2") do %>
            <%= content_tag(:strong, "Guardar datos") %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>