<h1>wallet</h1>








<% if @wallet&.balance >= 0 %>
        <h1 class="m-4" style="color: green" id="saldo_verde">$ <%= @wallet&.balance %></h1>
    <% else %>
        <h1 class="m-4" style="color: red">$ <%= @wallet&.balance %></h1>
    <%end%>

<% if Current.user&.role? == "client" %>
 <%= form_for(@wallet, as: :wallet, url: "/wallets/#{@wallet.user_id}" , html: { method: :put, id:"form2" }) do |form| %>
        <div class="row m-4">
          <div class="col-7">
            <div class="form-outline">
              <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <%= form.number_field :charge_wallet, class: "form-control", min: "0", required: true %>
              </div>
              <%= form.label "Cantidad" %>
            </div>
          </div>
        </div>
   <% end %>
<% end %>
<% if Current.user&.role? == "supervisor" %>
  <%= form_for(@wallet, as: :wallet, url: "/wallets/#{@wallet.user_id}" , html: { method: :put, id:"form2" } ) do |form| %>
        <div class="row m-4" >
          <div class="col-7">
            <div class="form-outline">
              <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <%= form.text_field :charge_wallet, class: "form-control" , min: "0", required: true %>
              </div>
              <%= form.label "Cantidad" %>
            </div>
          </div>
        </div>
   <% end %>
<% end %>
