<!-- Título detalles de auto -->
<section class="mx-4 mb-2 p-4 bg-gray-800 text-gray-200 rounded-b-lg border-2 border-black">
  <h4 class="text-2xl uppercase text-center">
    <%= t('.title') %>
  </h4>
</section>

<!-- Detalles de auto -->
<section class="flex flex-col p-2 pt-4 md:px-4 md:pt-4 mx-4">
  <article class="bg-gray-700 text-gray-200 flex rounded-lg shadow-xl overflow-hidden mb-8 bg-gradient-to-r from-orange-800 to-orange-400 md:flex-nowrap flex-wrap border-2 border-black">
    <%= image_tag @car.photo, alt: "car", class: "relative w-full md:max-w-xs md:max-h-full max-h-48 object-cover border-1 border-black" %>
    <div class="flex flex-col w-full justify-center">
      <ul class="flex flex-col gap-2 px-2 my-2">
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.brand') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @car.brand.upcase %></dd>
        </li>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.model') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @car.model.upcase %></dd>
        </li>
        <% if Current.user&.role? == "admin" || Current.user&.role? == "supervisor" %>
          <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
            <dt class="text-sm font-medium text-orange-300"><%= t('.patent') %></dt>
            <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @car.patent.upcase %></dd>
          </li>
          <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
            <dt class="text-sm font-medium text-orange-300"><%= t('.vehicle_number') %></dt>
            <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @car.vehicle_number %></dd>
          </li>
        <% end %>
        <li class="bg-gray-700 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 rounded-lg border-2 border-black">
          <dt class="text-sm font-medium text-orange-300"><%= t('.color') %></dt>
          <dd class="mt-1 text-sm text-gray-200 sm:col-span-2 sm:mt-0"><%= @car.color.upcase %></dd>
        </li>
      </ul>
    </div>
  </article>
  <div class="flex justify-center text-center font-bold text-5xl stroke-black">
    <%=link_to t('.rent'), new_rental_path(@car.id),class: "mt-2 mx-2 text-white font-bold p-4 bg-orange-600 rounded-lg w-96 hover:brightness-150 border-2 border-black" if Current.user&.role? == 'client' && !Current.user.rentals.find_by(is_active:true) %>
  </div>
</section>
  
